<!DOCTYPE html>
<html lang="zxx">
   <head>
      <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="keyword" content="">
      <meta name="author"  content=""/>
      <!-- BEGIN: Page Title-->
      <title>Analytics Home | Modern & Minimal Multipurpose Bootstrap Admin Dashboard</title>
      <!-- END:  Page Title-->
      <!-- BEGIN: Vendor CSS-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/chart.js/chart.min.css') }}"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/daterangepicker/daterangepicker.css') }}"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/d3/cal-heatmap/cal-heatmap.css') }}"/>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/jqvmap/jquery-jvectormap-2.0.2.css') }}">
      <!-- END: Vendor CSS-->
      <!-- BEGIN: Custom CSS-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css') }}"/>
      <!-- END: Custom CSS-->
      <!-- BEGIN: Favicon-->
      <link type="image/x-icon" rel="icon" href="{{ url_for('static',filename='assets/images/favicon.ico') }}">
      <!-- END: Favicon-->
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn"t work if you view the page via file: -->
      <!--[if lt IE 9]>
